<div [style.background-color] = "'yellow'">
  User fixed yellow background
</div>

<div [ngStyle] = "{color: 'white', 'background-color': 'blue'}">
  User fixed white text on blue background
</div>

<div class="ui input">
  <input type="text" name="color" value="{{color}}" #colorinput>
</div>

<div class="ui input">
  <input type="text" name="fontSize" value="{{fontSize}}" #fontinput>
</div>
<button class="ui primary button" (click) = "apply(colorinput.value, fontinput.value)">Apply Settings</button>

<div>
  <span [ngStyle] = "{color: color}" [style.font-size.px] = "fontSize">red text</span>
</div>
